body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navbar {
  background-color: #2e2e2e;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    width: 100%;
}
.navbar button {
    background-color: inherit;
    border: none;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: rtl;
    font-size: 20px;
}
.navbar button:hover {
    color: black;
}
.HomeScreen {
    /* height: calc(100vh - 56px); */
    height: 100vh;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.AboutScreen {
    /* height: calc(100vh - 56px); */
    height: 100vh;
    background-color: #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.SkillsScreen {
    /* height: calc(100vh - 56px); */
    height: 100vh;
    background-color: #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

button{
  cursor: pointer;
}

a{
  color: inherit;
}